<?xml version="1.0" encoding="utf-8"?>
<nlog xmlns ="http://www.nlog-project.org/schemas/NLog.xsd "
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Info"
      internalLogFile="c:\Temp\NLogSample\NLogSample.txt">

  <extensions>
    <add assembly="NLog.Web.AspNetCore"/>
  </extensions>

  <targets> <!--Aca iria la bdd-->
    <target xsi:type="Database" name="databaseLogs" connectionString="Server=DESKTOP-NKV554R\LOCALHOST;Database=BasePruebas;User Id=sa;Password=12345678;">
      <commandText>
        INSERT INTO Logs (LogLevel, Logger, Message, Exception, CreatedAt)
        VALUES (@level, @logger, @message, @exception, @createdAt)
      </commandText>
      <parameter name="@level" layout="${level}" /> <!--Nivel del log (Debug, Info, Warn, Error, etc.)-->
      <parameter name="@logger" layout="${logger}" /> <!--Nombre del logger (por ejemplo, el nombre de la clase donde se está registrando el log).-->
      <parameter name="@message" layout="${message}" /> <!--El mensaje del log.-->
      <parameter name="@exception" layout="${exception:format=tostring}" /> <!--Información de la excepción, si existe.-->
      <parameter name="@createdAt" layout="${date:format=yyyy-MM-dd HH:mm:ss}" /> <!--Fecha y hora en que se generó el log.-->

    </target>
  </targets>

  <rules>
    <!-- Redirige todos los logs (de cualquier nivel) al target de base de datos -->
    <logger name="*" minlevel="Debug" writeTo="databaseLogs" />
  </rules>
  
  
</nlog>