html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

/* Para Webkit (Chrome, Safari, Edge) */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    filter: invert(30%); /* Ajusta el porcentaje para cambiar la intensidad del gris */
}

/* Para Firefox (los botones no son personalizables directamente, pero puedes ocultarlos y agregar botones personalizados si es necesario) */
input[type="number"] {
    -moz-appearance: textfield;
}
